@import url('https://fonts.cdnfonts.com/css/fty-skorzhen-ncv');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

$primary: #14FFFF;
$secondary: #FE1AF9;
$snow: #EFEFFF;
$grey: #2D2D2D;
$black: #000000;
$white: #FFFFFF;

$font1: 'FTY SKORZHEN NCV', sans-serif;
$font2: 'Noto Sans JP', sans-serif;