@import url('https://fonts.cdnfonts.com/css/greek-freak');
@import url('https://fonts.cdnfonts.com/css/dalek-pinpoint');

$primary: #FF9326;
$secondary: #FFD700;

$bg-1: #191A1C;
$bg-2: #2C2C2C;

$black: #000000;
$white: #FFFFFF;

$font1: 'Greek-Freak', sans-serif;
$font2: 'Dalek Pinpoint', sans-serif;