@import '../../sass/index.scss';

.home-container {
    background-color: $snow;
    cursor: none;
    position: relative;

    .home-content {
        font-family: $font1;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        .home-main {
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14.35rem;

            .home-title-jap {
                color: $primary;
                font-family: $font2;
                font-weight: 700;
            }

            .home-title {
                position: absolute;
                color: $secondary;
                font-style: italic;
                padding-top: 1rem;
            }
        }

        .home-bottom {
            position: absolute;
            bottom: 10vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            font-size: 3.1rem;
            color: $grey;

            .home-options {
                transition: color 0.3s ease, transform 0.3s ease;
                color: $grey;

                &:hover {
                    color: $primary;
                    transform: scale(1.2);
                }
            }
        }
    }
}